<div id="main-menu">
    <a href=""><span class=" e-menu active">Home</span></a><a href=""><span class=" e-menu">News</span></a><a href=""><span class=" e-menu" >Forum</span></a><a href=""><span class=" e-menu">Contact</span></a><a href=""><span class=" e-menu">About</span></a>
</div>
<div class="clear-float"></div>