<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <h2 class = "main_name">Dien dan >> Dat cau hoi</h2>
            <h3 style="color: pink">Cau hoi cua ban da duoc them thanh cong</h3>
            <span><a href="/dien-dan" style="color: green">Chuyen toi trang dien dan >></a></span>

        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>