<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <h2 class = "main_name">Diễn đàn >> Dat cau hoi</h2>
            <div class="add_ask">
                <img src="/images/ask.png" width="100%" height="400px"/>
                <form action="/dien-dan/process-add" method="get">
                    <span>Noi dung cau hoi</span>
                    <input type="text" placehoder="Viet noi dung tai day" name="content_ask" />
                    <br />
                    <input type="submit" value="Dat cau hoi" />
                </form>
            </div>
        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>