<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
      
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class= "contentAppointment">
                <div class = "main_name">ĐẶT LỊCH KHÁM</div>
                <div class = "introduce">
                    <p class = "note_"> Quý kháh vui lòng lưu ý trước khi đặt lịch khám: </p>
                    <ol>
                        <li><p><b>I.</b> &nbsp;&nbsp;&nbsp;Lịch hẹn có hiệu lực sau khi được xác nhận chính thức từ Bệnh viện.</li>
                        <li><p><b>II.</b>  &nbsp;&nbsp;Vui lòng cung cấp thông tin chính xác để được phục vụ tốt nhất. Trong trường hợp cung cấp sai thông tin email &amp; điện thoại, việc xác nhận cuộc hẹn sẽ không hiệu lực.</li>
                        <li><p><b>III.</b> &nbsp;Trong trường hợp lịch làm việc của Bác sĩ thay đổi hoặc khung giờ khám quý khách yêu cầu không còn trống, Bộ phận Chăm sóc khách hàng của Hoàn Mỹ Sài Gòn sẽ đề nghị chuyển sang Bác sĩ khác hoặc khung giờ khám khác phù hợp nhất có thể so với yêu cầu của quý khách.</li>
                        <li><p><b>IV.</b>  &nbsp;&nbsp;Quý khách sử dụng dịch vụ Đặt hẹn trực tuyến, xin vui lòng đặt trước ít nhất là 24 giờ trước khi đến khám.</li>
                    </ol>
                </div>
                <form name="appointment-form" id="appointment-form">
                    <div class="infoAppointment" departments ="<%= JSON.stringify(departments) %>">
                        <p class="note_">Thông tin đặt hẹn </p>
                        <div class="validate-input" data-validate="Yêu cầu chọn khoa">
                            <span>Chuyên Khoa</span>
                            <select class="_select" name="departments" id="departments">
                                <option value='-1'>Chọn khoa (*)</option>
                                <% for(var i=0; i<departments.length; i++){ %>
                                    <option value = '<%= i %>' ><%= departments[i].name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="validate-input" data-validate="Yêu cầu chọn bác sĩ">
                            <span>Bác Sĩ</span>
                            <select class = "_select" name="doctors" id="doctors" >
                                <option value='-1' >Chọn bác sĩ (*)</option>
                            </select>
                        </div>
                        <div class="validate-input" data-validate="Ngày không đúng định dạng">
                            <span> Ngày hẹn lịch y tế</span>
                            <input class="_select" id="date" name="date" placeholder="Ngày-Tháng-Năm VD: 30-02-2018" type="text" >
                        </div>
                        <div class="validate-input" data-validate="Yêu cầu chọn thời gian hẹn">
                            <span> Thời gian lịch y tế </span>
                            <select id="timeInday" class="_select" name="timeInday" >
                                <option value='-1'> Chọn thời gian hẹn (*) </option>
                            </select>
                        </div>
                        <div class="validate-input" data-validate="Yêu cầu điền địa chỉ">
                            <span>Địa chỉ</span>
                            <input class="_select" name="address" placeholder="165 ngách 42 ngõ 43 quận cầu giấy" type="text" >
                        </div>
                        <div class="validate-input" data-validate="Yêu cầu điền mô tả">
                            <textarea rows="4" cols="20" class="_select" name="description" placeholder="Mô tả triệu chứng"></textarea>
                        </div>
                        <input class="_select" id="time" name="time" type="hidden">
                        <input class="_select" id="doctorId" name="doctorId" type="hidden">
                        <input class = "submitAppointment" value="Đặt Lịch" onClick="" type="submit">
                    </div>
                </form>

            <div class ="clear"></div>
        </div>
     <!--
         Footer
     -->   
        <script src="/js/appointmentSchedule.js"></script>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>