<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <style>
            .no-change{
                font-size: 20px;
                color: #fff;
            }
            .no-change:hover{
                color: #ffa;
            }
        </style>
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class="main_content">
                <h2 class = "main_name"><a class="no-change" href="http://localhost:3000/tin-tuc">Tin Tức</a> >> <%= one_new.title %></h2>

                    <h3 class="teaser_headline"><a href=""><%= one_new.title %></a></h3>
                    <div class ="block_text_post">
                        <span class="time_post"><%= one_new.timestamp %></span> –
                        <span><%= one_new.content %></span>
                    </div>
                    <div class = "block_img_post"><img src="/images/img_post.png"></div>

                <hr class="clear">

            </div>
            
            <!--
                Select Function
            -->
            <div class ="select_function">
                <button class="btn-item-function">
                    Đặt lịch hẹn y tế
                </button>
                <button class="btn-item-function">
                    Xem hồ sơ bệnh án
                </button>
                <button class="btn-item-function">
                    Tra cứu bác sĩ
                </button>
            </div>

            <!--
                Clear Float
            -->
            <div class="clear"></div>
        </div>

     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>

