<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
      
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class= "content_datlich">
                <div class = "main_name">ĐẶT LỊCH KHÁM</div>
                <div class = "introduce">
                    <p class = "note_"> Quý kháh vui lòng lưu ý trước khi đặt lịch khám: </p>
                    <ol>
                        <li><p><b>I.</b> &nbsp;&nbsp;&nbsp;Lịch hẹn có hiệu lực sau khi được xác nhận chính thức từ Bệnh viện.</li>
                        <li><p><b>II.</b>  &nbsp;&nbsp;Vui lòng cung cấp thông tin chính xác để được phục vụ tốt nhất. Trong trường hợp cung cấp sai thông tin email &amp; điện thoại, việc xác nhận cuộc hẹn sẽ không hiệu lực.</li>
                        <li><p><b>III.</b> &nbsp;Trong trường hợp lịch làm việc của Bác sĩ thay đổi hoặc khung giờ khám quý khách yêu cầu không còn trống, Bộ phận Chăm sóc khách hàng của Hoàn Mỹ Sài Gòn sẽ đề nghị chuyển sang Bác sĩ khác hoặc khung giờ khám khác phù hợp nhất có thể so với yêu cầu của quý khách.</li>
                        <li><p><b>IV.</b>  &nbsp;&nbsp;Quý khách sử dụng dịch vụ Đặt hẹn trực tuyến, xin vui lòng đặt trước ít nhất là 24 giờ trước khi đến khám.</li>
                    </ol>
                </div>
                <form action="" method="post" name="appointment-form">
                    <div class="datlichcho">
                        <p class = "note_">Thông tin bệnh nhân</p>
                        <span>Giới Tính(*):</span>
                        <select class="_select" name="">
                            <option value="0">Giới Tính(*)</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            <option value="3">Khác</option>
                        </select>
                        <span>Tuổi(*):<span>
                        <select id="select-age" class="_select" name="">
                        </select>
                        <span>Họ và Tên(*)</spanp>
                        <input class="_select" name="fullname" placeholder="VD: Nguyễn Văn A" type="text">
                        <span>Ngày Sinh(*)</span>
                        <input class="_select" name="dateofbirth" placeholder="Ngày/Tháng/Năm VD: 30/2/2018" type="text">
                        <span>Email</span>
                        <input class="_select" name="email_select" placeholder="VD: programing@vnu.edu.vn" type="text">
                        <span>Số điện thoại(*)</span>
                        <input class="_select" name="email_select" placeholder="VD: 199002645" type="text">
                        <span>Tỉnh/Thành phố</span>
                        <input class="_select" name="email_select" placeholder="Hà Nội" type="text">
                        <span>Quận/Huyện</span>
                        <input class="_select" name="email_select" placeholder="Cầu Giấy" type="text">
                        <span>Địa chỉ</span>
                        <input class="_select" name="email_select" placeholder="165 ngách 42 ngõ 43 quận cầu giấy" type="text">
                    </div>
                    <div class="info_dat_hen">
                        <p class="note_">Thông tin đặt hẹn </p>
                        <span>Chuyên Khoa</span>
                        <select class="_select" name="">
                                <option value="0">Chuyên khoa (*)</option>
                                <option value="1">Nội Tổng Quát</option>
                                <option value="2">Tiết Niệu</option>
                                <option value="3">....</option>
                        </select>
                        <span>Bác Sĩ</span>
                        <select class = "_select" name="">
                            <option value ="0">Bác sĩ<option>
                        </select>
                        <input type="radio" name="gender" value="0" checked> Bệnh nhân mới
                        <input type="radio" name="gender" value="1"> Tái khám
                        <span> Ngày hẹn lịch y tế</span>
                        <input class="_select" id="datepicker" name="dateofbirth" placeholder="Ngày/Tháng/Năm VD: 30/2/2018" type="text">
                        <span> Thời gian lịch y tế </span>
                        <select id="select-hour" class="_select" name="">
                        </select>
                        
                        <textarea rows="4" cols="20" class="_select" placeholder="Mô tả triệu chứng"></textarea>
                        <input class = "submit_datlich" value="Đặt Lịch" onClick="" type="submit">
                    </div>
                </form>

            <div class ="clear"></div>
        </div>
     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>
<script>
    var html_age = '<option value="0">Tuổi (*)</option>';
    var html_hour = "";
    for(var i = 1; i < 100; i++){
        html_age += "<option value=" + i + ">" + i + "</option>"; 
    }
    for(var i = 0; i < 14; i += 2){
        html_hour += "<option value=" + i + ">" + (i+8) + ":00 - " + (i+10) + ":00</option>";
    }
    $("#select-age").html(html_age);
    $("#select-hour").html(html_hour);
    $( "#datepicker" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
</script>