<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <h2 class = "main_name">Tin tuc >> Xoa bai viet</h2>
            <h3 style="color: pink">Bai viet cua ban da duoc xoa thanh cong</h3>
            <span><a href="/tin-tuc" style="color: green">Chuyen toi trang tin tuc >></a></span>

        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>