<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div id="wrap-all">
        <header><% include ../partials/header %></header>
        <nav><% include ../partials/navigator %></nav>
        <hr />
        </div>
    </body>
</html>