<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="/js/infoDepartments.js"></script>
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <div class ="box_top_content">
				<div class="box_left_name_content">
					<div class="main_name">BÁC SĨ</div>
				</div>
				
				<form id="form-sidebar">
					<div class="action_content_introduce">
						<input class ="search" type="text" id="dataSearch" name="data" placeholder="Tìm kiếm">
						<a id="search"><img src="/images/icons/search.png" width="32px" onclick="search()"></a>
						<a href=""><img src="/images/icons/back.png" width="32px"></a>
						<% if (objectType == 0){ %>
							<a onclick="showScene('create')"><img src="/images/icons/create.png" width="32px"></a>
						<% } %>
					</div>
				</form>
                <div class="clear"></div>
            </div>   
            <div class="col_box_infomation_doctor">
                <% include ./listDoctor %>
            </div>
            <% if (objectType == 0){ %>
				<!--Create ACTION-->
				<div id ="create" class="create_action">
					<div class="center_box_action">
						<form id="create-form">
							<div class="img_box_instroduce_update">
								<img id="profile_pic_create" src="/images/datas/user-default.png">
								<div class="input_file_img">
									<span>Chọn ảnh: </span>
									<input type="file" name="image"
										accept="image/gif, image/jpeg, image/png"
										onchange="displayImage(this,'profile_pic_create')">
								</div>
							</div>
							<div class="text_box_instroduce_update" >
								<h1 class ="title_box_instroduce">
									Bác sĩ
								</h1>
								<hr><p>	
								<div class="row">
									<label for="id">ID:  <span class="req">*</span></label>
									<input type="id" name="id" class="txt" tabindex="2" placeholder="USE100000001 ">
								</div>
									
								<div class="row">
									<label for="name">Tên bác sĩ:  <span class="req">*</span></label>
									<input type="name" name="name" class="txt" tabindex="2" placeholder="Đặng Ðức Toản">
								</div>
									
								<div class="row">
                                        <label for="card">Chứng minh thư:  <span class="req">*</span></label>
                                        <input name="card" class="txt" tabindex="2" placeholder="163439199">
                                </div>

                                <div class="row">
                                        <label for="phonenumber">Số điện thoại: <span class="req">*</span></label>
                                        <input name="phonenumber" class="txt" tabindex="2" placeholder="01634139199">
                                </div>
                                
								<div class="row">
									<label for="dateofbirth">Ngày sinh:   <span class="req">*</span></label>
									<input type="date" name="dateofbirth" id="foundingOn" class="txt" tabindex="5">
                                </div>
                                
                                <div class="row">
                                        <label for="gender">Giới tính: <span class="req">*</span></label>
                                        <input name="gender" class="txt" tabindex="2" placeholder="true">
                                </div>

                                <div class="row">
                                        <label for="address">Địa chỉ: <span class="req">*</span></label>
                                        <textarea name="address" class="txtarea" tabindex="3" placeholder="144 Xuân Thủy, Cầu Giấy, Hà Nội "></textarea>
                                </div>

                                <div class="row">
                                        <label for="level">Trình độ: <span class="req">*</span></label>
                                        <input name="level" class="txt" tabindex="2" placeholder="Giáo sư">
                                </div>

                                <div class="row">
                                        <label for="experience">Kinh nghiệm: <span class="req">*</span></label>
                                        <input name="experience" class="txt" tabindex="2" placeholder="15 năm">
                                </div>

                                <div class="row">
                                        <label for="idkhoa">ID Khoa: <span class="req">*</span></label>
                                        <input name="idkhoa" class="txt" tabindex="2" placeholder="DEP101">
                                </div>

                                <div class="row">
                                        <label for="tenkhoa">Tên khoa: <span class="req">*</span></label>
                                        <input name="tenkhoa" class="txt" tabindex="2" placeholder=" Chấn thương chỉnh hình">
                                </div>

								<div class="center">
									<button class="submitbtn" >Accept</button>
									<button type="button" class="submitbtn" onclick="hideScene('create')">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>	
				<!--END Create-->
			<% } %>
            <div class="clear"></div>
        </div>
    <footer><% include ../partials/footer %></footer>
    </body>
</html>