<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <div class ="box_top_content">
				<div class="box_left_name_content">
					<div class="main_name">BÁC SĨ</div>
				</div>
				
				<form id="form-sidebar">
					<div class="action_content_introduce">
						<input class ="search" type="text" id="dataSearch" name="data" placeholder="Tìm kiếm">
						<a id="search"><img src="/images/icons/search.png" width="32px" onclick="search()"></a>
						<a href=""><img src="/images/icons/back.png" width="32px"></a>
						<% if (objectType == 0){ %>
							<a onclick="showScene('create')"><img src="/images/icons/create.png" width="32px"></a>
						<% } %>
					</div>
				</form>
                <div class="clear"></div>
            </div>   
            <div id="listDoctor">
                <% include ./listDoctor %>
            </div>
            <% if (objectType == 0){ %>
				<!--Create ACTION-->
				<div id ="create" class="create_action">
					<div class="center_box_action">
						<form id="create-form">
							<div class="img_box_instroduce_update">
								<img id="profile_pic_create" src="/images/datas/user-default.png">
								<div class="input_file_img">
									<span>Chọn ảnh: </span>
									<input type="file" name="image" class="buttonFile"
										accept="image/gif, image/jpeg, image/png"
										onchange="displayImage(this,'profile_pic_create')">
								</div>
							</div>
							<div class="text_box_instroduce_update" >
								<h1 class ="title_box_instroduce">
									Bác sĩ
								</h1>
								<hr><p>	
									<div class="row">
										<label for="name">Họ và tên:  <span class="req">*</span></label>
										<input type="text" name="name" class="txt" tabindex="1" placeholder="Phạm Văn A" required>
									</div>
			
									<div class="row">
										<label for="card">CMND: <span class="req">*</span></label>
										<input type="text" name="card" class="txt" tabindex="2" placeholder="036012343265" required>
									</div>
										
									<div class="row">
										<label for="phoneNumber">Số điện thoại: <span class="req">*</span></label>
										<input type="text" name="phoneNumber" class="txt" tabindex="3" placeholder="0168987123" required>
									</div>
			
									<div class="row">
										<label for="birthday">Ngày sinh: <span class="req">*</span></label>
										<input type="date" name="birthday" class="txt" tabindex="4" placeholder="13/01/1998" required>
									</div>
			
									<div class="row">
										<label for="sex">Giới tính:  <span class="req">*</span></label>
										<input type="text" name="sex" class="txt" tabindex="5" placeholder="true với nam, false với nữ" required>
									</div>
			
									<div class="row">
										<label for="address">Địa chỉ: <span class="req">*</span></label>
										<input type="text" name="address" class="txt" tabindex="6" placeholder="144, Xuân Thủy, Cầu Giấy">
									</div>
			
									<div class="row">
										<label for="userName">Tên đăng nhập: <span class="req">*</span></label>
										<input type="email" name="userName" class="txt" tabindex="7" placeholder="abc@gmail.com" required>
									</div>
									
									<div class="row">
										<label for="password">Password: <span class="req">*</span></label>
										<input type="text" name="password" class="txt" tabindex="8" placeholder="********" required>
									</div>
			
									<div class="row">
										<label for="level">Trình độ: <span class="req">*</span></label>
										<input type="text" name="level" class="txt" tabindex="9" placeholder="Giáo sư,Tiến sĩ,Thạc sĩ" required>
									</div>
									
									<div class="row">
										<label for="experience">Kinh nghiệm: <span class="req">*</span></label>
										<input type="text" name="experience" class="txt" tabindex="10" placeholder="Thời gian đã công tác" required>
									</div>
			
									<div class="row">
										<label for="departmentId">Chuyên khoa: <span class="req">*</span></label>
										<input type="text" name="departmentId" class="txt" tabindex="11" placeholder="ID khoa (DEP101)" required>
									</div>
			
									<div class="row">
										<label for="dean">Trưởng khoa: <span class="req">*</span></label>
										<input type="text" name="dean" class="txt" tabindex="12" placeholder="true-trưởng khoa,false-nếu không" required>
									</div>
									<div class="center">
										<button class="submitbtn" >Accept</button>
										<button type="button" class="submitbtn" onclick="hideScene('create')">Cancel</button>
									</div>
							</div>
						</form>
					</div>
				</div>	
				<!--END Create-->
			<% } %>
            <div class="clear"></div>
		</div>
	<footer><% include ../partials/footer %></footer>
	<script src="/js/infoDoctor.js"></script>
    </body>
</html>