<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/sidebar %>
        <% for(var i=0; i<departmentList.length; i++) {%>
            <li><%= departmentList[i] %></li>
         <% } %>
    <footer></footer>
    </body>
</html>