<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
        <style>
            .main_content button{
                color: black;
                padding: 10px;
            }
            .main_content button:hover{
                color: blue;
            }
        </style>
        <script type="text/javascript">
            var number_page = 0;
            $(document).ready(function(){
                $("#btn-more").click(function(){
                    number_page ++;
                    var url_p = "http://localhost:3000/tin-tuc/readmore?page=" + number_page;
                    $.ajax({
                        url: url_p,
                        success: function(result){
                            $("#block_list_news").append(result);
                        }
                    });
                });
                var content = $('.titiu').html();
                $(".titiu").html(content.sile(0, 50) + "...");
            });
</script>
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class="main_content">
                <h2 class = "main_name">Tin Tức</h2>
                <div id="block_list_news">
                <% news.forEach(function(one_new){ %>
                <div class= "block_post">
                    <h3 class="teaser_headline"><a href="/tin-tuc/chitiet?id=<%= one_new._id %>"><%= one_new.title %></a></h3>
                    <div class ="block_text_post">
                        <span class="time_post"><%= one_new.timestamp %></span> –
                        <span class="titiu"><%= one_new.content %></span>
                    </div>
                    <div class = "block_img_post"><img width="150px" src="/images/img_post.png"></div>
                </div>
                <hr class="clear">
                <% }); %>
                </div>
                <button id="btn-more">Tin tuc cu hon >></button>
            </div>
            
            <!--
                Select Function
            -->
            <div class ="select_function">
                <button class="btn-item-function">
                    Đặt lịch hẹn y tế
                </button>
                <button class="btn-item-function">
                    Xem hồ sơ bệnh án
                </button>
                <button class="btn-item-function">
                    Tra cứu bác sĩ
                </button>
            </div>

            <!--
                Clear Float
            -->
            <div class="clear"></div>
        </div>

     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>

