<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
        <style>
            .main_content button{
                color: black;
                padding: 10px;
            }
            .main_content button:hover{
                color: blue;
            }
            .btn_add_news{
                padding: 10px;
                border: 1px solid green;
                margin: 20px;
            }
            .btn_add_news:hover{
                background-color: #ffffdd;
                border-color: blue;
            }
        </style>
        <script type="text/javascript">
            var number_page = 0;
            $(document).ready(function(){
                $("#btn-more").click(function(){
                    number_page ++;
                    var url_p = "http://localhost:3000/tin-tuc/readmore?page=" + number_page;
                    $.ajax({
                        url: url_p,
                        success: function(result){
                            $("#block_list_news").append(result);
                        }
                    });
                });
                var obj_content = document.getElementsByClassName("titiu");
                for(var i = 0; i < obj_content.length; i++){
                    //console.log(obj_content[i].innerHTML);
                    //var content = new String()
                    obj_content[i].innerHTML = obj_content[i].innerHTML.slice(0, 60) + "...";
                }
                //$(".titiu").html($('.titiu').html().slice(0, 60) + "...");
            });
</script>
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class="main_content">
                <h2 class = "main_name">Tin Tức</h2>
                <% if(objectType == 1){ %>
                <div>
                    <a href="tin-tuc/tao-bai"><button class="btn_add_news">+ Tao bai viet mới</button></a>
                </div>
                <% } %>
                <div id="block_list_news">
                <% news.forEach(function(one_new){ %>
                <div class= "block_post">
                    <h3 class="teaser_headline"><a href="/tin-tuc/chitiet?id=<%= one_new._id %>"><%= one_new.title %></a></h3>
                    <div class ="block_text_post">
                        <span class="time_post"><%= one_new.timestamp %></span> –
                        <span class="titiu"><%= one_new.content %></span>
                    </div>
                    <div class = "block_img_post"><img width="150px" src="/images/img_post.png"></div>
                </div>
                <hr class="clear">
                <% }); %>
                </div>
                <button id="btn-more">Tin tuc cu hon >></button>
            </div>
            
            <!--
                Select Function
            -->
            <div class ="select_function">
                <a href="/dat-lich-hen/dat-moi"><button class="btn-item-function">
                    Đặt lịch hẹn y tế
                </button></a>
                <a href="/ho-so/benh-an"><button class="btn-item-function">
                    Xem hồ sơ bệnh án
                </button></a>
                <a href="gioi-thieu/bac-si"><button class="btn-item-function">
                    Tra cứu bác sĩ
                </button></a>
            </div>

            <!--
                Clear Float
            -->
            <div class="clear"></div>
            
        </div>

     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>

