<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
        <style>
            a.title-produce{
                color: #000;
                font-size: 25px;
                font-weight: bold;
            }
            a.title-produce:hover{
                color: #0000ff;
            }
        </style>
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <div class="part1">
                <h1>Công ty CP -------------</h1>
                <hr />
                <hr />
                <div class="float-left col-md-6">
                    <h2><a href="/gioi-thieu/khoa" class="title-produce">Cac chuyen khoa</a></h2>
                    <p>------------ luôn hiểu rằng chăm sóc sức khỏe hiện đại phải là một sự kết hợp giữa việc chẩn đoán chính xác, điều trị an toàn với chăm sóc chu đáo, ân cần, kỹ lưỡng. Vì đây là dịch vụ chăm sóc con người nên các nhân viên y tế không chỉ có kinh nghiệm chuyên sâu mà còn được đào tạo để phục vụ bệnh nhân cùng gia đình họ bằng cả trái tim, đúng với phương châm “Tất cả vì bệnh nhân” của Victoria Healthcare.</p>
                    <p>Dù tại bất kỳ phòng khám nào thuộc hệ thống Phòng khám Quốc tế -------------</, quý khách luôn nhận được nụ cười, sự ân cần, nhiệt tâm và hướng dẫn tận tình của đội ngũ nhân viên, tập thể Y Bác sỹ. Cùng với phương pháp khám và điều trị dựa trên nền tảng “Y học chứng cứ”, các Bác sỹ sẽ giúp bệnh nhân cùng gia đình hiểu thấu đáo về nguyên nhân, nguồn gốc bệnh, cách phòng trừ và phương pháp chữa trị. Việc giúp cho bệnh nhân trở thành một bác sỹ của chính bản thân đã là chuẩn mực trong chăm sóc sức khỏe đẳng cấp Quốc tế, và điều này là cam kết của chúng tôi.</p>
                </div>
                <div class="float-right col-md-6">
                    <img src="/images/produce1.png"/>
                </div>
                <hr class="clear">
                <div class="float-left col-md-5">
                    <img src="/images/produce2.png" width=400/>
                </div>
                <div class="float-right col-md-7">
                    <h2><a href="/gioi-thieu/bac-si" class="title-produce">Doi ngu can bo</a></h2>
                    <p>Đội ngũ Bác sỹ trong và ngoài nước của -------------</ đều có tay nghề cao, kinh nghiệm làm việc lâu năm, được đào tạo tại các trung tâm y tế, bệnh viện lớn ở nước ngoài đồng thời là thành viên của các hội nghề nghiệp uy tín như: Hội nội soi tiêu hóa Hoa Kỳ, Hội tai mũi họng phẫu thuật đầu cổ Hoa kỳ… Tuy nhiên, để có một dịch vụ chăm sóc sức khỏe đúng chuẩn thế giới, đội ngũ này không ngừng được tu nghiệp tại các quốc gia tiên tiến như Mỹ, Pháp, Singapore và đào luyện cả về chuyên môn lẫn phong cách phục vụ. Song song với nhân tố con người - nhân tố cốt lõi của Victoria Healthcare, hệ thống trang thiết bị y khoa cũng được đầu tư hiện đại nhất, góp phần tăng độ chính xác trong các xét nghiệm và chuẩn đoán của bác sỹ, tránh tình trạng lạm dụng thuốc và xét nghiệm, điều trị cảm tính...</p>
                </div>
                <hr class="clear">
            </div>
            <div class="part2">
                <div class="row">
                    <div class="col-md-6">
                        <center>
                        <img src="/images/item-eye.png" />
                        <h2>Tầm nhìn</h2>
                        </center>
                        <hr />  
                        <p>-------------</ sẽ là hệ thống phòng khám quốc tế cung cấp những dịch vụ chăm sóc và điều trị y tế tận tâm, chu đáo, an toàn cho bệnh nhân và gia đình của người bệnh.</p>
                    </div> 
                    <div class="col-md-6">
                        <center>
                        <img src="/images/item-development.png" />
                        <h2>Sứ mệnh</h2>
                        </center>
                        <hr />
                        <p><ul>
                            <li>* Đối với bệnh nhân và gia đình: Nhiệm vụ hàng đầu của ------------- là cung cấp một dịch vụ y tế tận tâm, chuẩn đoán chính xác và điều trị an toàn. Tại Victoria Healthcare, dù là bệnh nhân hay gia đình người bệnh cũng sẽ nhận được sự trân trọng, trung thực cùng chuẩn mực y đức.</li>
                            <li>* Đối với nhân viên: VHC cam kết đào tạo và huấn luyện đầy đủ và liên tục cho đội ngũ nhân viên của mình theo tiêu chuẩn quốc tế để phục vụ cho bệnh nhân và gia đình người bệnh một cách tốt nhất. Nhân viên tại VHC sẽ được làm việc trong môi trường quốc tế chuyên nghiệp, thân thiện, tôn trọng lẫn nhau và được tưởng thưởng xứng đáng.</li>
                            <li>* Đối với Quốc gia: Thông qua các hoạt động xã hội, VHC cam kết nâng cao ý thức y tế, sức khỏe cho cộng đồng tương đương với các chuẩn mực quốc tế.</li>
                        </ul></p>
                    </div>
                </div>
            </div>
        </div>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>