<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
      
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>


    <!--
        Body
    -->

    <div class="body-wrapper">
        asd
    </div>>





     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>