<div id="language">
    <span id="active-language">Vietnamese</span>
    <span>English</span>
    <span>Francai</span>
</div>
<div class="clear-float"></div>
<div id="banner">
    <a href="">
    <div id='logo'><img src="images/jarvis.jpg" /></div>
    <div id="slogan">Sociation Health<br />Organization</div>
    </a>
</div>
<div id="communicate">
    <a href=""><span>Face</span></a>
    <a href=""><span>Tiwter</span></a>
    <a href=""><span>Youtube</span></a>
</div>

