<div id="banner" class="col-sm-6 float-left">
	<a href="" class="gotohome">
	<div id='logo' class="float-left col-sm-6"><img src="images/who-logo.png" /></div>
	</a>
	<a href="" class="gotohome">
	<div id="slogan" class="">Sociation Health<br />Organization</div>
	</a>
</div>
<div id="communicate" class="col-sm-6 float-right text-right">
	<a href=""><span><img src="images/icons/facebook.png" /></span></a>
	<a href=""><span><img src="images/icons/twitter.png" /></span></a>
	<a href=""><span><img src="images/icons/youtube.png" /></span></a>
</div>


