
<div class="topheader">
<div class="outer">
    <div class="inner">
        <div class="topleftmenu">
            <a target="_top" href="/">Trang chủ</a><span class="dropdown--box"><a class="drop-choose" target="_top" href="">Giới thiệu</a><span class="dropdown-content"><a target="_top" href="">Chuyen Khoa</a><a target="_top" href="">Doi ngu can bo</a><a target="_top" href="">chuyen gia</a></span></span><a target="_top" href="/news">Tin tức</a><a target="_top" href="">Diễn đàn</a><a target="_top" href="">Hồ sơ</a><a target="_top" href="">Đặt lịch</a>
        </div>
        <div class="toprightmenu">
            <a href="register.php" class="username">
				<span>Đăng ký</span>
			</a>
			<a href="/login" class="username">
				<span>Ðăng nhập</span>
            </a>
        </div>
        <hr class="clear" />
    </div>
</div>
</div>
