<div class="topheader">
<div class="outer">
    <div class="inner">
        <div class="topleftmenu">
            <a target="_top" href="/">Trang chủ</a>
            <span class="infoBox" id="information">
                <a class="info-choose" id="information-choose" target="_top" href="/gioi-thieu/khoa">Giới thiệu</a>
                <span class="infoBox-content" id="information-content">
                    <a target="_top" href="/gioi-thieu/khoa">Chuyên khoa</a>
                    <a target="_top" href="/gioi-thieu/bac-si">Bác sĩ</a>
                    <% if(objectType == 0){%>
                        <a target="_top" href="/gioi-thieu/tai-khoan">Người dùng</a>
                    <% } %>
                </span>
            </span>
            <a target="_top" href="/tin-tuc">Tin tức</a>
            <a target="_top" href="/dien-dan">Diễn đàn</a>
            <span class="infoBox" id="appointment">
                <a class="info-choose" id="appointment-choose" target="_top" href="/dat-lich-hen/dat-moi">Đặt lịch hẹn</a>
                <% if(objectType == 0 || objectType == 1 || objectType == 2){%>
                    <span class="infoBox-content" id="appointment-content">
                        <a target="_top" href="/dat-lich-hen/dat-moi">Đặt mới</a>
                        <a target="_top" href="/dat-lich-hen/lich-su">Lịch sử</a>
                        <% if(objectType == 0 || objectType == 1){%>
                            <a target="_top" href="/dat-lich-hen/lich-hen">Lịch hẹn</a>
                        <% } %>
                    </span>
                <% } %>
            </span>
            <% if(objectType == 0 || objectType == 1 || objectType == 2){%>
                <span class="infoBox" id="record">
                    <a class="info-choose" id="record-choose" target="_top" href="/ho-so/tai-khoan">Hồ sơ</a>
                    <span class="infoBox-content" id="record-content">
                        <a target="_top" href="/ho-so/tai-khoan">Tài khoản</a>
                        <a target="_top" href="/ho-so/benh-an">Bệnh án</a>
                        <% if(objectType == 0 || objectType == 1){%>
                            <a target="_top" href="/ho-so/benh-nhan">Bệnh nhân</a>
                        <% } %>
                    </span>
                </span>
            <% } %>
        </div>
        <div class="toprightmenu">
            <% if(objectType == 3){%>
                <a href="/dang-ky" class="username">
                    <span>Đăng ký</span>
                </a>
                <a href="/dang-nhap" class="username">
                    <span>Ðăng nhập</span>
                </a>
            <% } %>
            <% if(objectType == 0 || objectType == 1 || objectType == 2){%>
                
                <span class="username">
                    <a href="/" id="logout">
                        <span>Đăng xuất</span>
                    </a>
                </span>
            <% } %>
        </div>
        <!-- <hr class="clear" /> -->
    </div>
</div>
</div>
