<div class="topheader">
    <div class="inner">
        <div class="topleftmenu">
            <a target="_top" href="">Trang chủ</a>
            <a target="_top" href="">Giới thiệu</a>
            <a target="_top" href="">Tin tức</a>
            <a target="_top" href="">Diễn đàn</a>
            <a target="_top" href="">Hồ sơ</a>
            <a target="_top" href="">Đặt lịch</a>
        </div>
        <div class="toprightmenu">
            <a href="register.php" class="username">
				<span>Đăng ký</span>
			</a>
			<a href="/login" class="username">
				<span>Ðăng nhập</span>
            </a>
        </div>
        <hr class="clear" />
    </div>
</div>