<div class="topheader">
    <div class="inner">
        <div class="topleftmenu">
            <a target="_top" href="">Trang chủ</a><a target="_top" href="">Diễn đàn</a><a target="_top" href="">Video</a><a target="_blank" href="">Công cụ</a><a target="_blank" href="">Upload</a><a target="_blank" href="">Tutorial</a>
        </div>
        <div class="toprightmenu">
            <a href="register.php" class="username">
				<span>Đăng ký</span>
			</a>
			<a href="/login" class="username">
				<span>Ðăng nhập</span>
            </a>
        </div>
        <hr class="clear" />
    </div>
</div>