<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %> 
      
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <div class="body-wrapper">
            <div class="main_content">
                <h2 class = "main_name">Tin Tức</h2>
                <!--
                    First post
                -->
                <div class= "block_post">
                    <h3 class="teaser_headline"><a href="">Addressing Emergency Care in Afghanistan</a></h3>
                    <div class ="block_text_post">
                        <span class="time_post">17 April 2018  </span> –
                        <span>After fighting broke out in the rural district of Chark-Logar, Salim and his family were forced to flee their home. During the firefight, Salim was shot in the stomach. It took Salim two hours until he reached a first aid post. Salim's story is not unusual in today's Afghanistan, where the already overwhelmed health facilities are often unable to absorb the burden. The Ministry of Health, with support from the Health Cluster, led by WHO, is struggling to rebuild a health system badly damaged after years of conflict....
                        </span>
                        <span class="readmore"><a href="">Read more</a></span>
                    </div>
                    <div class = "block_img_post"><img src="/images/img_post.jpg"></div>
                </div>
                <hr class="clear">
                
                 <!--
                    Second post
                -->
                <div class= "block_post">
                        <h3 class="teaser_headline"><a href="">Addressing Emergency Care in Afghanistan</a></h3>
                        <div class ="block_text_post">
                            <span class="time_post">17 April 2018  </span> –
                            <span>After fighting broke out in the rural district of Chark-Logar, Salim and his family were forced to flee their home. During the firefight, Salim was shot in the stomach. It took Salim two hours until he reached a first aid post. Salim's story is not unusual in today's Afghanistan, where the already overwhelmed health facilities are often unable to absorb the burden. The Ministry of Health, with support from the Health Cluster, led by WHO, is struggling to rebuild a health system badly damaged after years of conflict....
                            </span>
                            <span class="readmore"><a href="">Read more</a></span>
                        </div>
                        <div class = "block_img_post"><img src="/images/img_post.jpg"></div>
                </div>
                <hr class="clear">

                 <!--
                    Thirth post
                -->
                <div class= "block_post">
                        <h3 class="teaser_headline"><a href="">Addressing Emergency Care in Afghanistan</a></h3>
                        <div class ="block_text_post">
                            <span class="time_post">17 April 2018  </span> –
                            <span>After fighting broke out in the rural district of Chark-Logar, Salim and his family were forced to flee their home. During the firefight, Salim was shot in the stomach. It took Salim two hours until he reached a first aid post. Salim's story is not unusual in today's Afghanistan, where the already overwhelmed health facilities are often unable to absorb the burden. The Ministry of Health, with support from the Health Cluster, led by WHO, is struggling to rebuild a health system badly damaged after years of conflict....
                            </span>
                            <span class="readmore"><a href="">Read more</a></span>
                        </div>
                        <div class = "block_img_post"><img src="/images/img_post.jpg"></div>
                </div>
            </div>

            <!--
                Select Function
            -->
            <div class ="select_function">
                <button class="btn-item-function">
                    Đặt lịch hẹn y tế
                </button>
                <button class="btn-item-function">
                    Xem hồ sơ bệnh án
                </button>
                <button class="btn-item-function">
                    Tra cứu bác sĩ
                </button>
            </div>

            <!--
                Clear Float
            -->
            <div class="clear"></div>
        </div>

     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>